@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: none;}
img {vertical-align: middle;}

.glyphicon-md {
    font-size: 20px;
}

.navbar {
    /* Main Header */

    position: absolute;
    width: 100%;
    height: 77px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.main-header-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.4em;

    color: #000000;
}

.basic-menu-nav {
    justify-content: space-between;
}

.debug {
    background-color: red;
}

.parallax {
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-align-center {
    text-align: center;
    justify-content: space-around;
}

.text-align-right {
    text-align: right;
    justify-content: flex-end;
}

.vertical-center {
    height: 77px;
    display: flex;
    align-items: center;
}

.img-highlight {
    min-width: 100%;
    height: 400;
}

.container-article {
    width: 70%;
}

.home-container {
    background: #F5F5FA;
    width: 100%;
    height: 98.5%;
}

.search-box {
    position: absolute;
    width: 617px;
    height: 48px;
    left: 411px;
    top: 463px;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #C9C9C9;
}

.icon-search {
    /* position: absolute;
    width: 22px;
    height: 23px;
    left: 981px;
    top: 476px;

    background: #C9C9C9; */
    font-size: 20;
    color: #C9C9C9;
    height: 100%;

    display: flex;
    align-items: center;
}

.category-nav {
    position: absolute;
    width: 100%;
    height: 82px;
    /* left: 0px; */
    /* top: 599px; */
    bottom: 0px;
    /* padding: 10px 16px; */
    border-bottom: solid #F5F5FA 5px;

    background-color: #FFFFFF;
    justify-content: space-between;
    /* padding-left: 87px;
    padding-right: 87px; */
}

.category-item {
    /* width: 180px; */
    /* display: flex; */
    color: #878787;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;       /* the same as your div height */
    height: 100%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.04em;
}

/* unvisited link */
/* a:link > .category-item {
    color: #878787; 
}*/

/* visited link */
/* a:visited > .category-item {
    color: #878787
} */ 

/* mouse over link */
a:hover > .category-item {
    color: #E30613;
}

/* selected link */
a:active > .category-item {
    color: #E30613;
}

.active {
    border-bottom: solid #E30613 5px;
    color: #E30613;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.home-content {
    height: 100%;
    padding-top: 10px;
    padding-right: 63px;
    padding-left: 63px;
}

.sticky + .home-content {
    /* padding-top: 90px; */
}

.floating-box {
    float: left;
    /* width: 150px;
    height: 75px; */
    margin: 10px;
    /* border: 3px solid #73AD21;   */
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .active-slide {
    background-color: #E30613;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  .content-image-slider {
    /* width:100%; */
    height:330
  }

  .image-slider-container{
    width: 100%;
    height: 100%;
  }

  .dots-container {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 30px;
  }


.inner:nth-child(4n+1){
    clear: left;
}

.inner{
    float: left;
    margin: 5px;
}