<div>
    <div class="floating-box" style="background-color: red;height:330;width:40%;">
    </div>
    <div class="floating-box" style="background-color: blue;height:330;width:56%;">
    </div>
    <div class="floating-box" style="background-color: red;height:330;width:40%;">
    </div>
    <div class="floating-box" style="background-color: blue;height:330;width:56%;">
    </div>
    <div class="floating-box" style="background-color: red;height:330;width:40%;">
    </div>
    <div class="floating-box" style="background-color: blue;height:330;width:56%;">
    </div>
    <div class="floating-box" style="background-color: red;height:330;width:40%;">
    </div>
    <div class="floating-box" style="background-color: blue;height:330;width:56%;">
    </div>
    <div class="floating-box" style="background-color: red;height:330;width:40%;">
    </div>
    <div class="floating-box" style="background-color: blue;height:330;width:56%;">
    </div>
</div>